
.header{height: 100px;border-bottom: 1px solid #999;}
.inner{width: 1200px;margin: auto;/* border:1px solid red */}

.header .logo{float: left;line-height: 100px;font-weight:bold;font-size: 24px;}
.header .gnb{float: right;}
.header .gnb li{float: left;width: 100px;height: 100px;text-align: center;line-height: 100px;}
.header .gnb li a{display: block;height: 100px;}
.header .gnb li a:hover{background-color: #000;color:#fff}

.main-banner{height: 700px;background: url(./../img/husky/bg2.jpg) no-repeat fixed left top -200px / cover;}
.main-banner h2{display: none;}

.container{padding-top: 80px;padding-bottom: 100px;}
.container .img_list{width:960px;margin:auto;/* border:3px solid blue */}
.container .img_list li{float: left;}
.container .des_list {width: 960px;margin: auto;margin-top: 20px;}
.container .des_list li{float: left;width:320px;text-align: center;}
.container .des_list li p:nth-of-type(1){font-weight: bold;margin: 10px 0;font-size: 17px;}
.container .des_list li p:nth-of-type(2){font-size: 14px;}
.subvisual{height: 1000px;background: url(../img/husky/1.jpg) no-repeat fixed;background-size: cover;}
.footer{height: 50px;background-color: #000;text-align: center;line-height: 50px;color:#fff;}
.footer address{font-style: normal;}