
    /*해더*/
     #header{height: 100px;width: 100%}
    .inner{width: 960px;margin: auto}
    .logo{float: left;font-size: 24px;font-weight: bold;height: 100px;line-height: 100px;width: 150px;text-align: center}
    .logo>a{display: block;height: 100px;width: 150px}
    .gnb{float: right}
    .gnb>li{float: left;width: 100px;height: 100px;text-align: center;line-height: 100px;font-size: 17px;font-weight: bold}
    .gnb>li>a{display: block;width: 100px;height: 100px;}
    .gnb>li>a:hover{background-color: #000;color:#fff}
    /*메인이미지*/
    #mainvisual{height: 700px;background: url(../img/husky/bg2.jpg) no-repeat center;background-size: cover;text-indent: -9999px}
    /* 컨텐츠 영역 */
    #contents{padding: 80px 0}
    #contents .imglist{overflow: hidden;width: 960px;margin-bottom: 20px;}
    #contents .imglist>li{float: left;width: 480px;}
    #contents .txtlist{overflow: hidden;width: 960px;}
    #contents .txtlist>li{width: 320px;float: left;text-align: center;}
    #contents .txtlist .txt1{font-size: 14px;font-weight: bold;margin: 10px 0;}
    #contents .txtlist .txt2{font-size: 12px;color:#666}

    /* 하단이미지 */
    #subvisual{height: 1000px;background: url(../img/husky/1.jpg) no-repeat fixed center / cover;text-indent: -9999px;}

    /*푸터*/
    #footer{height: 50px;background: #000;text-align: center;color:#fff;line-height: 50px;}
    #footer address{font-style: normal;}

